.Login__msg1   {
    font-size: 23px;
    font-weight: 700;
    margin: 25px 0px 20px 0px;
}

.Login__bg, .Login__bg:focus   {
    background: var(--twitter-input);
}
.Login__label_text  {
    font-weight: 450;
    margin: 0 10px 0 10px;
}
.Login__username_or_email_group, .Login__password_group {
    
    color: var(--twitter-input-text);
}
.Login__password_group  {
    margin: 20px 0 20px 0;
}
.Login__username_or_email_group:focus-within, .Login__password_group:focus-within, .Login__links   {
    color: var(--twitter-dark);
}
.Login__links   {
    font-size: 15px;
}
.Login__form-control {
    height: 30px;
    border: 0;
    outline: 0;
    box-shadow: none;
    border-bottom: 2px solid var(--twitter-input-border);
    color: black;  
    font-size: 18px;  
}
.Login__form-control:focus {
    box-shadow: none;
    border-bottom: 2px solid var(--twitter-light);
}
.Login__login_btn    {
    background-color: var(--twitter-dark) !important;
    color: white !important;
    font-weight: 700 !important;
    height: 45px !important;
    border: none !important;
    border-radius: 30px !important;
    margin: 10px 0px 25px 0px !important;
}
.Login__form-label-group   {



}













