.ProfileHeader__bg  {
    

}
.ProfileHeader__header  {
    margin: 0px 18px 0 18px;
}
.ProfileHeader__content {
    margin:  0 18px 0 18px;
}
.ProfileHeader__cover_photo {
    width: 617px;
    height: 225px;
    position: absolute;
    z-index: 1;
}

.ProfileHeader__profile_photo   {
    width: 140px;
    height: 140px;
    object-fit: cover;
    position: relative;
    z-index: 5;
    margin: 150px 0 0 0px;
    border: 4px solid white;
}
.ProfileHeader__btn {
    height: 37px;
    border: 1px solid var(--twitter-dark) !important;
    border-radius: 30px !important;
   
    font-weight: 700;
    margin: 235px 0px 0 0 !important;
}
.ProfileHeader__following_btn    {
    background: var(--twitter-dark) !important;
    color: white !important;    
}
.ProfileHeader__following_btn:hover {
    color: white !important;   
}
.ProfileHeader__follow_btn    {
    color: var(--twitter-dark) !important;
}
.ProfileHeader__btn:hover {
    border: 1px solid var(--twitter-dark) !important;
    border-radius: 30px !important;
    color: var(--twitter-dark) !important;
    background: var(--twitter-bg);
}   
.ProfileHeader__btn:active {
    border: 1px solid var(--twitter-dark) !important;
    border-radius: 30px !important;
    color: var(--twitter-dark) !important;
    background: var(--twitter-bg);
}    
.ProfileHeader__name {
    font-weight: 900;
    font-size: 19px;
}
.ProfileHeader__username {
    margin-top: -5px;
    color: grey;
}
.ProfileHeader__keyboard    {
    margin-top: 2px;
    width: 19px;
    height: 19px;
    color: grey;
}
.ProfileHeader__keyboard g  {    
    fill: grey;
}
.ProfileHeader__joined  {
    color: grey;
}
.ProfileHeader__bio {
    margin: 5px 0 5px 0;
    font-size: 15px;
}
.ProfileHeader__joined  {
    color: grey;
    font-size: 15px;
    margin-bottom: 5px;
}
.ProfileHeader__count   {
    font-weight: 700;
}
