.Profile__bg    {
    flex: 0.51;
    border-left: 1px solid var(--twitter-border);
    border-right: 1px solid var(--twitter-border);

    height: 100%;
}
.Profile__header    {
    border-bottom: 1px solid var(--twitter-border);
    font-weight: 900;
    font-size: 18px;
    padding: 10px 18px 10px 18px;
    background: white;
}

.Profile__nav>div>div:focus, .Profile__nav>div>div:hover   {
    background: var(--twitter-login-light);
    text-decoration: none;
}
.Profile__nav>div>div:focus>a, .Profile__nav>div>div:hover>a   {
    color: var(--twitter-login-dark); 
    text-decoration: none;
}
.Profile__nav_active    {
    border-bottom: 2px solid var(--twitter-login-dark);
    color: var(--twitter-login-dark);
}
a   {
    font-weight: 700;
    text-decoration: none;
    color: grey
}

.Profile__nav_a {
    color: var(--twitter-login-dark);
}
hr  {
    margin-top: -1px;
}










