.Profile__bg    {
    flex: 0.51;
    border-left: 1px solid var(--twitter-border);
    border-right: 1px solid var(--twitter-border);
    height: 100%;
}
.Profile__header    {
    border-bottom: 1px solid var(--twitter-border);
    font-weight: 900;
    font-size: 18px;
    padding: 10px 18px 10px 18px;
    background: white;
}
.Profile__back_icon  {
    width: 24px;
    height: 24px;
    margin-right: 30px;
}
.Profile__back_icon g {
    fill: var(--twitter-dark);    
}

























