body  {
  --twitter-input: #f5f8fa;
  --twitter-input-text: #78746b;
  --twitter-input-border: #706868;
  --twitter-bg: #e6ecf0;
  --twitter-light: #50b7f5;
  --twitter-dark: #1DA1F2;
  --twitter-login-light: #9fd7fa;  
  --twitter-login-med: #6ec7f6; 
  --twitter-login-dark: #1da1f2; 
  --twitter-border:#e2dfdf;
}
.twitter_logo_sm    {
  width: 40px;
  height: 40px;
}
.App__main  {
  flex: 0.51;
}
.App__back_icon  {
  width: 24px;
  height: 24px;
  margin-right: 30px;
}
.App__back_icon g {
  fill: var(--twitter-dark);    
}
.App__icon  {
  width: 23px;
  height: 23px;
}
.App__icon g {
  fill: var(--twitter-dark);    
}